
.individual-instructor {
    h3 {
        margin-bottom: 0;
    }
    h5 {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .tab-stats.tab-pane {
        padding-top: 1.5rem;
    }
    
    table {
        margin-top: 1.5rem;
    }
}