@import "../_common/colors.scss";

.gpa-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 80%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.3rem;
    border: 2px solid rgba(50,50,50,0.25);
    
    color: $grade-text;
}

.gpa-badge-caption {
    margin-left: 0.5rem;
    font-weight: bold;
}

.gpa-badge-stddev {
    font-size: 85%;
    line-height: 85%;
    font-weight: 700;
    letter-spacing: -0.05rem;
    color: rgba(33, 37, 41, 0.85);

    .sigma {
        font-size: 125%;
        line-height: 100%;
        font-family: serif;
        font-weight: 400;
    }
}

.grade-a {
    background: $grade-a
}
.grade-b {
    background: $grade-b
}
.grade-c {
    background: $grade-c
}
.grade-d {
    background: $grade-d
}
.grade-f {
    background: $grade-f
}
.grade-i {
    background: $grade-i
}
.grade-q {
    background: $grade-q
}

$loffset: -55%;
$soffset: -35%;
.grade-a-text {
    color: scale-color($grade-a, $lightness: $loffset, $saturation: $soffset)
}
.grade-b-text {
    color: scale-color($grade-b, $lightness: $loffset, $saturation: $soffset)
}
.grade-c-text {
    color: scale-color($grade-c, $lightness: $loffset, $saturation: $soffset)
}
.grade-d-text {
    color: scale-color($grade-d, $lightness: $loffset, $saturation: $soffset)
}
.grade-f-text {
    color: scale-color($grade-f, $lightness: $loffset, $saturation: $soffset)
}
.grade-i-text {
    color: scale-color($grade-i, $lightness: $loffset, $saturation: $soffset)
}
.grade-q-text {
    color: scale-color($grade-q, $lightness: $loffset, $saturation: $soffset)
}