
main {
    details.blog {
        margin-bottom: calc(var(--fontSize) * 1.8);
    }
    section {
        margin-bottom: calc(var(--fontSize) * 3.1);

        h2 {
            margin-bottom: calc(var(--lineHeight) * 0.65);
        }
    }
}

.hearts {
    color: #ff8fbc;
}

main section p {
    padding-right: 2em;
}

figure .visaid {
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    img.visaid {
        filter: Invert()
    }
}
