
main section {
    margin-bottom: calc(var(--fontSize) * 3.1);

    @media (min-width: 589px) {
        margin-top: calc(var(--fontSize) * 3.1);
    }

    h2 {
        margin-bottom: calc(var(--lineHeight) * 0.65);
    }
}

@media (prefers-color-scheme: dark) {
    img {
        filter: Invert()
    }
}
