

// index.hbs

body {
    background-color: #FFF9D9;
}
h1.cg-hero {
    /* font-weight: 300; */
    line-height: 1.2;
    color: #C8102E;
}
nav.cg-navbar .navbar-nav a.nav-link {
    display: inline-flex;
    vertical-align: middle;
    
    i.material-icons {
        font-size: 16px;
        line-height: 24px;
        margin-right: 0.1em;
    }
}
.jumbotron {
    background: #fff;

    .btn-cg {
        color: #212529;
        background-color: #F6BE00;
        border-color: #F6BE00;
        
        &:not(:disabled):not(.disabled):active {
            color: #212529;
            background-color: #D89B00;
            border-color: #B97800;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem #B97800;
        }
    }    
}
