<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
        <link rel="stylesheet" href="{{& BASEURL }}/css/index.css">
    </head>
    <body>
        {{> navbar index=true }}
        <div class="container">
            <br>
            <div class="jumbotron">
                <h1 class="cg-hero">CougarGrades.io <sup title="Beta, commit {{& COMMIT_HASH }}">&beta;</sup></h1>
                <p class="lead">Analyze grade distribution data for any past University of Houston course</p>
                <hr class="my-4">
                <p><em>Not affiliated with the University of Houston.</em></p>
                <p><em>Latest data available: <span id="latest_data">Fall 2018</span></em></p>
                <a class="btn btn-warning btn-lg" href="{{& BASEURL }}/courses" role="button">Learn more</a>
            </div>
        </div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.15/dist/bootstrap-native-v4.min.js"></script>
    </body>
</html>