<!DOCTYPE HTML>
<html>
<head>

    <link href="{{& baseurl }}/public/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">

    <script defer src="https://www.gstatic.com/charts/loader.js"></script>
    <script defer src="{{& baseurl }}/public/js/Chart.js"></script>
    <script defer src="{{& baseurl }}/public/js/Table.js"></script>
    <script defer src="{{& baseurl }}/public/CougarGrades.js"></script>
</head>
<body>
    <div class="container">
        <h5>Cougar Grades</h5>

        <div class="form">
            Department (COSC, MATH, ENGR, etc.): <input type="text" name="dept" value="COSC">
            Class Number (1430, 2430, 3336, etc.): <input type="text" name="number" value="1304">
            <input type="submit" value="Submit">
        </div>
        
        <div id="chart_div"></div>

        <div id="table_div"></div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            google.charts.load('current', {'packages':['corechart','table']});
            google.charts.setOnLoadCallback(() => {
                let grades = new CougarGrades("{{& baseurl }}")
                grades.Main()
            });
        })
    </script>
</body>
</html>