$stamp-radius: calc(var(--fontSize) * 2.5);

div.stamp-wrap {
  height: $stamp-radius;
}

div.stamp {
  display: inline-block;
  width: $stamp-radius;
  height: $stamp-radius;
  line-height: $stamp-radius;
  border-radius: 50%;
  font-size: calc(var(--fontSize) * 0.9);
  font-weight: 700;
  background: var(--uh-grey);
  text-align: center;
  & + span {
    display: inline-block;
    font-size: calc(var(--fontSize) * 1.2);
    font-weight: 700;
    //--margin: calc((var(--fontSize) * 2.5) - (calc(var(--fontSize) * 1.2)));
    //margin-top: calc(var(--margin) / 2);
    //margin-bottom: calc(var(--margin) / 2);
    //height: calc(var(--fontSize) * 2.5);
    margin-left: calc(var(--fontSize) * (2 / 3)); // 8px
    margin-right: calc(var(--fontSize) * 2); // 24px
  }

  &.teal {
    color: black;
    background: var(--uh-teal);
  }
  &.gold {
    color: black;
    background: var(--uh-gold);
  }
  &.blue {
    color: black;
    background: var(--uh-maya-blue);
  }
  &.orchid {
    color: black;
    background: var(--uh-orchid);
  }
}
