
header.hero {
    color: var(--uh-white);
    background: var(--uh-red);
    padding-top: var(--lineHeight);

    hgroup {
        // Subtitle
        h1 + h3 {
            // Undo margin-bottom for <h1>
            margin-top: calc(var(--lineHeight) * -1);
            font-variation-settings: 'wght' 300;
        }
    }

}

