/*
 * Fix scrollbars
 */
@mixin scrollbar {
  $thumb: rgba(127, 127, 127, 0.5);
  $track: rgba(255, 255, 255, 0);

  & {
    scrollbar-color: $thumb $track; /* thumb and track color */
    scrollbar-width: thin;
  }
  // &::-webkit-scrollbar {
  //   width: 2px;
  //   height: 2px;
  // }

  // &::-webkit-scrollbar-track {
  //   background: $track;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: $thumb;
  //   //border-right: 1px solid white;
  // }
}
