@import "mixins.scss";

// Blatantly adapted from:
// https://rsms.me/inter/

a {
  text-decoration: underline rgba(var(--foreground-color-rgb), 0.3);
  word-break: break-word;
  word-wrap: break-word;
}
a.fat {
  font-weight:500;
  color: rgba(var(--foreground-color-rgb), 0.8);
}
a:hover {
  color: var(--red);
  text-decoration: underline;
}
a.plain, a.fat {
  background: none;
  text-shadow: none;
  text-decoration: none;
  cursor: pointer;
}
a[href^="#"]:hover {
  text-decoration-style: dashed;
}


nav {
  padding: 50px;
  display: flex;
  justify-content: center;
}
nav > * {
  width: 100%;
  max-width: 888px;
  flex: 1 0 100%;
  //font-size: calc(var(--fontSize) * 1.25);
  //line-height: calc(var(--lineHeight) * 1.25);
}

@media only screen and (max-width: 600px) {
  :root {
    //--fontSize: calc(100vw / 30);
  }
}
@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  :root {
    //--fontSize: 1.7vw;
  }
}

nav.menu {
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #111;
  color: white;
  border-top: 40px solid red;
  margin-top: -40px;
}
nav.menu ul {
  width: auto;
  max-width: 888px;
  flex: 1 1 auto;
  list-style: none;
  padding: 0;
  margin: 0 20px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  @include scrollbar;
}
nav.menu ul li {
  margin-bottom: -1px;
  text-indent: -0.5px;
  text-align: center;
}
nav.menu ul li > a {
  color: inherit;
  opacity: 0.8;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px 13px 20px;
  margin-right: 1px;
  font-weight: 450;
  /*transition: 80ms all cubic-bezier(0.25, 0.47, 0.44, 0.93);*/
}
nav.menu ul li > a:hover,
nav.menu ul li > a.active {
  color: white;
  background: var(--blue);
  opacity: 1;
}
nav.menu ul li:first-child > a {
  padding-left: 0;
  padding-right: 0;
  margin-right: 25px;
  background: transparent;
}
nav.menu ul li:first-child > a:hover {
  text-decoration: underline;
}
nav.menu ul li.nav-home > a {
  font-weight: 600;
  color: white;
  opacity: 1;
}

/* narrow windows */
@media only screen and (max-width: 565px) {
  // nav {
  //   padding-left: 24px;
  //   padding-right: 24px;
  // }
  // nav.menu ul {
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   margin: 0 20px;
  // }
  // nav.menu ul {
  // }
  // nav.menu ul li {
  //   display: flex;
  // }
  nav.menu ul li > a {
  //   flex: 0 1 100%;
  //   margin: 0;
  //   padding-right: 0;
  //   padding-left: 0;
    box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
  }
  nav.menu ul li:first-child > a {
  //  margin-right: 0;
    box-shadow: none;
  }
  // nav.menu ul li.nav-home a {
  //   text-align: left;
  // }
}

// /* progressively hide menu items */
// @media only screen and (max-width: 680px) {
//   nav.menu .nav-lab {
//     display: none;
//   }
// }
// @media only screen and (max-width: 565px) {
//   nav.menu .nav-download {
//     display: none;
//   }
// }
// @media only screen and (max-width: 280px) {
//   nav.menu ul {
//     grid-template-columns: repeat(3, 1fr);
//   }
//   nav.menu .nav-dynmetrics {
//     display: none;
//   }
// }

// Undo the margin-bottom set by <nav>
nav + header {
  margin-top: calc(var(--blockSpacingBottom) * -1);
}