.markdown {
  //color: red;

  h2 {
    &::before {
      content: '\201C';
    }
    &::after {
      content: '\201D';
    }
    //ont-size: 1.25em;
    //font-weight: 500;
    border-bottom: none;
    padding: 1.5rem 0;
  }

  blockquote p {
    &::before {
      content: '\201C';
    }
    &::after {
      content: '\201D';
    }
    font-size: 1.25em;
    font-weight: 500;
  }
  
  // .section {
  //   margin-top: 3rem;
  //   margin-bottom: 3rem;
  // }
  
  // .githubSponsor {
  //   border: 0;
  //   margin-bottom: 0!important;
  // }

}

.question {
  &::before {
    content: '\201C';
  }
  &::after {
    content: '\201D';
  }
  font-size: 1.25em;
  font-weight: 500;
}

.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.githubSponsor {
  border: 0;
  margin-bottom: 0!important;
}
