
.groupSection {
  h1, h2, h3, h4, h5, h6 {
    border-bottom: 0;
  }
  h3 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  p {
    font-size: 1.15rem;
  }
}

.groupSectionDivider {
  margin-top: 2.5rem!important;
  margin-bottom: 1rem!important;
}
