@import "../styles/vars";

.groupSection {
  h1, h2, h3, h4, h5, h6 {
    border-bottom: 0;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  p {
    font-size: 1.15rem;
  }
}

.groupSectionDivider {
  margin-top: 2.5rem!important;
  margin-bottom: 1rem!important;
}

.chartWrap {
  overflow: auto;
  margin-bottom: 30px;
  div {
    display: inline-block
  }
  @media (prefers-color-scheme: dark) {
    & svg rect {
      fill: $dm-text;
    }
    // make graph background transparent but not the lines
    & svg:nth-child(1) > rect:nth-child(2) {
      fill: rgba(0,0,0,0);
    }
    & svg rect [height="1"] {
      fill: $dm-text;
    }
    & svg text {
      fill: $dm-text;
    }
  }
}

.loadingFlex {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.chip {
  margin-right: 0.5rem!important;
  margin-top: 0.25rem!important;
  margin-bottom: 0.25rem!important;
  &:hover {
    color: unset;
  }
}
