
.carousel {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 10px;
  padding: 10px 0;
}

.instructorCard {
  //display: flex;
  flex-shrink: 0;
  button {
    white-space: normal;
  }
}

.cardActionArea {
  height: 100%;
}

.cardContent {
  height: 100%;
  //padding: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 5px;
}

.badgeRow {
  margin-bottom: 5px;
}
