
.carousel {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 10px;
  //gap: 10px;
  padding: 10px 5px;
}

.instructorCard {
  //display: flex;
  flex-shrink: 0;
  button {
    white-space: normal;
  }
}

.cardActionArea {
  height: 100%;
}

.cardContent {
  height: 100%;
  //padding: 20px;
  padding: 0 20px!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 5px;
}

.badgeRow {
  margin-bottom: 5px;
}

.badgeStack {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 150px;
  gap: 3px;
}

.showMore {
  font-size: 18px;
  font-weight: 300;
  //font-style: italic;
  text-align: center;
}
