
.instructorCard {
  //display: flex;
  flex-shrink: 0;
  button {
    white-space: normal;
  }
}

.cardActionArea {
  height: 100%;
}

.cardContent {
  height: 100%;
  //padding: 20px;
  padding: 0 20px!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 5px;
}

.badgeRow {
  margin-bottom: 5px;
}

.badgeStackListItem {
  padding-right: 140px!important;
}

.badgeStack {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 140px;
  gap: 3px;
}

.showMore {
  font-size: 18px;
  font-weight: 300;
  //font-style: italic;
  text-align: center;
}

.showMoreContent {
  padding: 0!important;
}