.textField {
  div {
    background-color: #fff;
    @media (prefers-color-scheme: dark) {
      background-color: #1A1A1A;
    }
  }
}

.autocompleteRoot {
  position: relative;
}

.groupLabel {
  //
}

.searchListItem {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
}

.badgeList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.25rem;
  //font-size: 0.9em;
  padding-left: 0.5rem;
}

.highlight {
  font-weight: 700;
  /* Overwrite new.css <mark> */
  padding: 0;
  background-color: unset;
  color: unset;
}
