
$cg-sidebar-width: 15em;

.main {
  margin: 16px;
  @media(min-width: 767px) {
    display: grid;
    grid-template-columns: $cg-sidebar-width minmax(0, 1fr);
    max-width: 1300px;
    width: 90%;
    margin: 16px auto;
    & > * {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.nav {
  @media(min-width: 767px) {
    position: sticky;
    top: 2rem;
    align-self: start;
    margin-bottom: unset;
    // TODO: only use with All Groups enabled
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
  }
}

.sidebarList {
  padding-bottom: 0;
}

.accordionRoot {
  border-radius: 4px!important;
  margin: 8px 0!important;
  &::before {
    display: none; // i don't know or remember why this is here
  }
  &[data-disabled="true"] {
    text-decoration: line-through;
    // &::before {
    //   display: initial;
    //   content: '🔒';
    //   padding-right: 0.25em;
    // }
  }
}

.listItemSelected {
  // color: inherit;
  // font-weight: 700;
}

.listTopHint {
  transition: opacity 200ms;
  //pointer-events: none;
  position: fixed;
  top: 5px;
  z-index: 2000;
  line-height: 1.0;
  display: flex;
  justify-content: center;
  width: min(calc($cg-sidebar-width - 10px), 100%);
}

.listBottomHint {
  transition: opacity 200ms;
  //pointer-events: none;
  position: fixed;
  bottom: 5px;
  z-index: 2000;
  line-height: 1.0;
  display: flex;
  justify-content: center;
  width: min(calc($cg-sidebar-width - 10px), 100%);
}

.listHintBubble {
  backdrop-filter: saturate(180%) blur(10px);
  padding: 0 12px;
  border-radius: 32px;
  cursor: pointer;

  background-color: rgb(230, 230, 230, 0.5);
  @media (prefers-color-scheme: dark) {
    background-color: rgba(80, 80, 80, 0.5);
  }
}