.main {
  margin: 16px;
  @media(min-width: 767px) {
    display: grid;
    grid-template-columns: 15em minmax(0, 1fr);
    max-width: 1300px;
    width: 90%;
    margin: 16px auto;
    & > * {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.nav {
  @media(min-width: 767px) {
    position: sticky;
    top: 2rem;
    align-self: start;
    margin-bottom: unset;
    // TODO: only use with All Groups enabled
    max-height: 100vh;
    overflow-y: auto;
  }
}

.sidebarList {
  padding-bottom: 0;
}

.accordionRoot {
  border-radius: 4px!important;
  margin: 8px 0!important;
  &::before {
    display: none; // i don't know or remember why this is here
  }
  &[data-disabled="true"] {
    text-decoration: line-through;
    // &::before {
    //   display: initial;
    //   content: '🔒';
    //   padding-right: 0.25em;
    // }
  }
}

.listItemSelected {
  // color: inherit;
  // font-weight: 700;
}