
.container.about {
    padding-top: 2rem;

    .btn.btn-dark.disabled {
        cursor: not-allowed;
        pointer-events: unset;
    }
}

.container .row {
    padding-bottom: 20px;
}

picture.shasta img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
}
