// Borrowed from the default Next.js error page
.error {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1, h2 {
    border-bottom: none;
  }
  h1 {
    display: inline-block;
    border-right: 1px solid var(--nc-tx-2);
    margin: 0;
    margin-right: 20px;
    padding: 10px 23px 10px 0;
    font-size: 24px;
    font-weight: 500;
    vertical-align: top;
  }
  h2 {
    font-size:14px;
    font-weight:normal;
    line-height:inherit;
    margin:0;
    padding:0
  }
}

.title {
  display:inline-block;
  text-align:left;
  line-height:49px;
  height:49px;
  vertical-align:middle
}