@import "../_common/colors.scss";

h1.cg-hero {
    line-height: 1.2;
    color: $uh-red;

    @media (prefers-color-scheme: dark) {
        color: $dm-red;
    }

    sup {
        font-size: 0.5em;
        top: -1em;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $dm-back!important;
    }
}

.jumbotron {
    background: #fff;
    margin-top: 1rem;

    @media (prefers-color-scheme: dark) {
        background: $dm-fore;
        color: $dm-text;
    }

    .btn-cg {
        color: #212529;
        background-color: $uh-gold;
        border-color: $uh-gold;
        -webkit-appearance: none;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        
        &:not(:disabled):not(.disabled):active {
            color: #212529;
            background-color: $uh-mustard;
            border-color: $uh-ocher;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem $uh-ocher;
        }

        @media (prefers-color-scheme: dark) {
            color: #212529;
            background-color: darken($uh-gold, 10%);
            border-color: darken($uh-gold, 10%);
        
            &:not(:disabled):not(.disabled):active {
                background-color: darken($uh-mustard, 10%);
                border-color: darken($uh-ocher, 10%);
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem darken($uh-ocher, 10%);
            }
        }
    }
}

.updates {
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        font-size: 0.9rem;
        span {
            color: rgba(255, 255, 255, 0.5);
            font-style: italic;
        }
    }
}
