
@import "../_common/colors.scss";

.container {
    padding-top: 15px;
    padding-bottom: 15px;
}

form#search .form-label, .cg-selected h5 {
    font-size: 1.25rem;
    //margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
} 

form#search input[type=text] {
    &.cgsearchform {
        text-transform: uppercase;
    }

    &::placeholder {
        color: rgba(108, 117, 125, 0.85);
        font-style: italic;
        transition: 150ms color;
    }

    &:active::placeholder, &:focus::placeholder {
        color: rgba(108, 117, 125, 0.65);
    }
    
}

form#search .btn-cg {
    color: #fff;
    background-color: $uh-red;
    border-color: $uh-red;
    -webkit-appearance: none;

    &:not(:disabled):not(.disabled):active {
        color: #fff;
        background-color: $uh-brick;
        border-color: $uh-chocolate;
        &:focus {
            box-shadow: 0 0 0 0.2rem $uh-chocolate;
        }
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem $uh-chocolate;
    }
    &:hover {
        color: #fff;
        background-color: $uh-brick;
        border-color: $uh-chocolate;
    }
}

div.cg-selected {

    span.empty {
        color: #777;
        font-size: 1rem;
        font-style: italic;
    }

    span.badge {
        background-color: #cc2541;
        font-size: 1rem;
        line-height: 1.1rem;
        margin-right: 0.1rem;
        margin-bottom: 0.5rem;
        display: inline-flex;
        vertical-align: middle;
        transition: width 2s;
        position: relative;
        user-select: none;
    
        svg.MuiSvgIcon-root {
            height: 1rem;
            width: 1rem;
            margin-top: 0.05rem;
            margin-left: 0.35rem;
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}


div.cg-content {

    div.card {
        overflow: visible;
        .card-header {
            background-color: #f7f7f7;
        }

        .collapse {
            overflow: hidden;
        }

        .collapsing {
            transition: none;
        }
    }

    div.card-header {
        z-index: 2;

        &:hover {
            cursor: pointer;
        }

        &:active {
            background-color: rgba(0,0,0,0.06); // default is 0.03
        }
    
        .cg-card-title {
            display: inline-flex;
            vertical-align: middle;
            font-size: 18px;
            line-height: 24px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            /* font-weight: 400; */
    
            svg.cg-icon {
                height: 24px;
                width: 24px;
                margin-right: 0.35rem;
            }
            img.cg-icon {
                width: 20px;
                margin-top: 4px;
                margin-right: calc(0.35rem + 4px);
                padding-left: 0.25rem;
            }
        }

        .rhs {
            float: right;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    div.card-body {
        overflow-x: scroll;
        text-align: center;
        z-index: 1;
        
        div.cg-charts {
            .cg-chart-wrap, .cg-table-wrap {
                div {
                    display: inline-block
                }
            }

            .google-visualization-table {
                .google-visualization-table-table {
                    width: 100%;
                    .headerCell {
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(110,110,110,0.1);
                            transition: background-color 250ms;
                        }
                    }
                    .tableRow {
                        background: #78909c;
                    }
                    .tableCell {
                        background: rgba(255, 255, 255, 0.95);
                    }
                }
            }
        }
    }

    // Fix for Bootstrap 4 CSS when accordions only contain one .card
    .accordion > .card:last-of-type:first-of-type {
        border-radius: 0.25rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    svg.MuiCircularProgress-svg {
        vertical-align: unset;
    }

    .MuiCircularProgress-colorPrimary {
        color: $uh-red;
    }

    .MuiCircularProgress-colorSecondary {
        color: $uh-grey;
    }

    span.spinner {
        border-color: lighten($uh-grey, 10%);
        border-right-color: transparent;

        $size: 1.5em;
        border-width: calc(#{$size} / 4.5);
        border-radius: calc(#{$size} / 2);
        width: $size;
        height: $size;
    }
}
