


.cg-table-wrap {
    .react-google-charts-table.individual {
        text-align: center;
        .google-visualization-table {
            display: inline-block;
            text-align: left;
        }
    }
}