@import "../styles/vars.scss";

.hero {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  &.mini {
    hgroup {
      h1 {
        display: inline-block;
        font-size: 1.75rem;
      }
      h3 {
        display: none;
      }
    }
  }

  hgroup {
    //transition: all 2s;
    margin-bottom: 16px;
    h1 {
      color: var(--uh-red);
    }
    // Subtitle
    h1 + h3 {
      // Undo margin-bottom for <h1>
      padding-top: calc(var(--lineHeight) * -1);
      //font-variation-settings: 'wght' 300;
      font-weight: 300;
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //justify-content: center;
  padding: 0.25em 0;
  margin-bottom: 16px;
  gap: 0.5em;

  a, button {
    color: rgba(0, 0, 0, 0.87);
    
    // positioning
    // margin-bottom: 0.5em;
    // margin-right: 0.5em;
    word-break: normal;

    @media (prefers-color-scheme: light) {
      background-color: #e9e9ef;
      &:hover {
        background-color: #e9e9ef;
      }
    }
    @media (prefers-color-scheme: dark) {
      background-color: #e0e0e0;
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}
