
$topItemSpace: 7px;

.topItemIcon {
  min-width: 35px!important;
  margin-top: $topItemSpace!important;
  padding-right: $topItemSpace!important;
  text-align: right;
}

.topItemText {
  max-width: 80%!important;
  //background-color: darkorchid;
}

.topItemTitle {
  @media (max-width: 768px) {
    line-height: 1.15!important;
  }
  padding-top: 0;
}

.topItemSubtitle {
  line-height: 1.2!important;
  padding: calc(0.75em / 2) 0;
  padding-top: 0;
}

.hintedMetric {
  font-size: 0.75rem!important;
  font-style: italic;
  margin-top: calc($topItemSpace + 1px)!important;
  padding-right: 2px;
  white-space: break-spaces!important;
  text-align: right;
  min-width: 45px;
  margin-left: auto!important;
  align-self: stretch;
  //background-color: darkgreen;
  @media(min-width: 991px) {
    flex-shrink: 0;
  }
  @media (max-width: 450px) {
    max-width: 60px;
  }
}

.hintedMetricExtended {
  @media (max-width: 990px) {
    display: none;
  }
}

.metricSparklineContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media(min-width: 991px) {
    // flex-shrink: 0;
    // max-width: 170px;
  }
  @media (max-width: 450px) {
    max-width: 80px;
  }
  // @media (min-width: 766px) and (max-width: 991px) {
  //   flex: 1;
  // }
  // @media(max-width: 991px) {
  //   flex: 1;
  // }
}
