{{!-- parameters passed in are indicative of the page in which they are called from --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light cg-navbar">
    {{#if index}}
        <a class="navbar-brand mb-0 h1" href="#">
            <img src="svg/baseline-school-24px.svg" width="24" height="24" alt="">
        </a>
    {{else}}
        <a class="navbar-brand mb-0 h1" href="#">CougarGrades.io</a>
    {{/if}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        {{#if index}}
            <a class="nav-item nav-link active" href="{{& BASEURL }}/">Home <span class="sr-only">(current)</span></a>
        {{else}}
            <a class="nav-item nav-link" href="{{& BASEURL }}/">Home</a>
        {{/if}}
        {{#if courses}}
            <a class="nav-item nav-link active" href="{{& BASEURL }}/courses">Courses <span class="sr-only">(current)</span></a>
        {{else}}
            <a class="nav-item nav-link" href="{{& BASEURL }}/courses">Courses</a>
        {{/if}}
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="material-icons">lock</i>Instructors</a>
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="material-icons">lock</i>Groups</a>
        </div>
    </div>
</nav>