
/*
http://www.uh.edu/marcom/guidelines-policies/brand/visual-identity/#color
*/

$uh-red: #c8102e;
$uh-brick: #960C22;
$uh-chocolate: #640817;

$uh-teal: #00b388;
$uh-green: #00866C;
$uh-forest: #005950;

$uh-gold: #F6BE00;
$uh-mustard: #D89B00;
$uh-ocher: #B97800;

$uh-gray: #888b8d;
$uh-grey: $uh-gray;
$uh-slate: #54585a;
$uh-black: #000000;

$uh-cream: #fff9d9;
$uh-white: #ffffff;