
// Adapted from: https://github.com/xz/new.css/blob/7bec731d34c09a21434b242c333e95d2f7268cee/new.css#L172-L191
footer {
  background: var(--nc-bg-2);
	border-top: 1px solid var(--nc-bg-3);
	padding: 2rem 1.5rem;
	
	/* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */

	margin: 2rem calc(0px - (50vw - 50%)) -2rem;

	/* Shorthand for:
	margin-top: -2rem;
	margin-bottom: 2rem;
	margin-left: calc(0px - (50vw - 50%));
	margin-right: calc(0px - (50vw - 50%)); */
	
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
}