
header.hero {
    //color: var(--uh-white);
    background: var(--uh-red);
    //padding-top: var(--lineHeight);

    hgroup {
        h1, h3 {
            color: var(--uh-white)
        }
        // Subtitle
        h1 + h3 {
            // Undo margin-bottom for <h1>
            padding-top: calc(var(--lineHeight) * -1);
            //font-variation-settings: 'wght' 300;
            font-weight: 300;
        }
    }

    nav, & + nav {

        a {
            // undo linky stuff
            display: inline-block;
            text-decoration: none;
            color: var(--uh-white);

            // buttony stuff
            padding: 0.25em 0.75em;
            margin: 0.25em 0.25em;
            border-radius: 8px;
            background-color: rgba(0,0,0, 0.1);
            transition: background-color 200ms;
            &:active, &:focus {
                outline: 0;
            }
            &.active {
                background-color: rgba(0,0,0, 0.25);
            }
            &:hover {
                background-color: rgba(0,0,0, 0.35);
            }
            
        }


        a.disabled {
            color: grey;
            text-decoration: line-through;
            cursor: default;
        }
    }

    & + nav {
        margin-bottom: 32px;
    }

}
