
@import "../styles/mixins.scss";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Blatantly adapted from:
// https://rsms.me/inter/

a {
  text-decoration: underline rgba(var(--foreground-color-rgb), 0.3);
  word-break: break-word;
  word-wrap: break-word;
}
a.fat {
  font-weight:500;
  color: rgba(var(--foreground-color-rgb), 0.8);
}
a:hover {
  color: var(--red);
  text-decoration: underline;
}
a.plain, a.fat {
  background: none;
  text-shadow: none;
  text-decoration: none;
  cursor: pointer;
}
a[href^="#"]:hover {
  text-decoration-style: dashed;
}


nav {
  padding: 50px;
  display: flex;
  justify-content: center;
}
nav > * {
  width: 100%;
  max-width: 888px;
  flex: 1 0 100%;
}

nav.menu {
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #111;
  color: white;
  border-top: 40px solid red;
  margin-top: -40px;
}
nav.menu ul {
  width: auto;
  max-width: 888px;
  flex: 1 1 auto;
  list-style: none;
  padding: 0;
  margin: 0 20px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  @include scrollbar;
}
nav.menu ul li {
  margin-bottom: -1px;
  text-indent: -0.5px;
  text-align: center;
}
nav.menu ul li > a {
  color: inherit;
  opacity: 0.8;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px 13px 20px;
  margin-right: 1px;
  font-weight: 450;
  transition: 80ms all cubic-bezier(0.25, 0.47, 0.44, 0.93);

  &.disabled {
    color: rgba(255, 255, 255, 0.5);
    @include noselect;
  }
}
nav.menu ul li:not(.nav-home) > a:hover:not(.disabled),
nav.menu ul li:not(.nav-home) > a:active:not(.disabled) {
  color: white;
  background: var(--blue);
  opacity: 1;
}
nav.menu ul li:first-child > a {
  padding-left: 0;
  padding-right: 0;
  margin-right: 25px;
  background: transparent;
}
nav.menu ul li:first-child > a:hover {
  text-decoration: underline;
}
nav.menu ul li.nav-home > a {
  // For text
  font-weight: 600;
  color: white;
  opacity: 1;
}

/* narrow windows */
@media only screen and (max-width: 565px) {
  nav.menu ul li > a {
    box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
  }
  nav.menu ul li:first-child > a {
    box-shadow: none;
  }
}

// Undo the margin-bottom set by <nav>
nav + header {
  margin-top: calc(var(--blockSpacingBottom) * -1);
}