
:root {
  /*
    * UH Official
    * http://www.uh.edu/marcom/guidelines-policies/brand/visual-identity/#color
    */
  --uh-red: #c8102e;
  --uh-brick: #960C22;
  --uh-chocolate: #640817;

  --uh-teal: #00b388;
  --uh-green: #00866C;
  --uh-forest: #005950;

  --uh-gold: #F6BE00;
  --uh-mustard: #D89B00;
  --uh-ocher: #B97800;

  --uh-gray: #888b8d;
  --uh-grey: var(--uh-gray);
  --uh-slate: #54585a;
  --uh-black: #000000;

  --uh-cream: #fff9d9;
  --uh-white: #ffffff;

  /*
    * UH Custom
    */
  --uh-maya-blue: #65B2FE;
  --uh-orchid: #DC89DC;
  
  /*
    * Color scheme inspired by aggiescheduler.com
    */
  --grade-a: rgb(135, 206, 250);
  --grade-b: rgb(144, 238, 144);
  --grade-c: rgb(255, 255, 0);
  --grade-d: rgb(255, 160, 122);
  --grade-f: rgb(205, 92, 92);
  --grade-i: rgb(211, 211, 211);
  --grade-q: rgb(138, 43, 226);
  --grade-text: rgba(0, 0, 0, 0.54);
  --grade-stddev-high: royalblue;
  --grade-stddev-low: rgb(155, 173, 226);

  /*
   * Seasonal colors
   */
  --season-01: var(--uh-gold, #F6BE00); // Spring
  --season-02: var(--uh-green, #00866C); // Summer
  --season-03: #71250E; // Fall
  --season-04: #fff; // Winter (placeholder, we don't do winter semesters)

  /*
    * From Raster: https://github.com/rsms/raster/blob/master/src/helpers.css
    */
  --red:    rgb(238, 39, 17);
  --blue:   rgb(24, 113, 233);
  --green:  rgb(18, 192, 91);
  --yellow: rgb(249, 191, 15);

  --maintenance-queued: rgba(0, 0, 0, 0.2);
  @media (prefers-color-scheme: dark) {
    --maintenance-queued: rgba(200, 200, 200, 0.6);
  }
}

:root {
  color-scheme: light dark;
}

