.main {
  margin: 16px;
  @media(min-width: 767px) {
    display: grid;
    grid-template-columns: 15em minmax(0, 1fr);
    max-width: 100em;
    width: 90%;
    margin: 16px auto;
    & > * {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.faqList {
  //padding: 0 10px;
  //text-align: center;
  padding-bottom: 20px;
}

.faqButton {
  display: inline-block;
  //border: 1px solid rgb(223, 223, 223);
  border-radius: 4px !important;
  margin: 16px 0 !important;
  //max-width: 250px;

  // @media (max-width: 768px) {
  //   max-width: none;
  // }
}

.question {
  &::before {
    content: '\201C';
  }
  &::after {
    content: '\201D';
  }
  font-size: 1.25em;
  font-weight: 500;
}

.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.githubSponsor {
  border: 0;
  margin-bottom: 0!important;
}


