
// For sticky footer
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  padding: 0;
  max-width: unset;
}
.new-container {
  max-width: 750px;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}

/*
 * Big boi font sizes
 */
:root {
  --fontSize: calc(100vw / 80);
}
@media (min-width: 1429px) {
  :root {
    --fontSize: 18px;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --fontSize: calc(100vw / 30);
  }
}
@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  :root {
    --fontSize: 1.7vw;
  }
}

:root {
  --stampBase: 12px;

  @media (min-width: 350px) {
    --stampBase: 14px;
  }
  @media (min-width: 390px) {
    --stampBase: 16px;
  }
}


// Borrowed from raster2.css
// See: https://github.com/rsms/raster/blob/master/src/elements.css
html {
  letter-spacing: -0.01em;
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'cv10' 1; /* G */
}
h1 {
  font-weight: 700;
  letter-spacing: -0.05em;
  word-break: break-word;
}
h2 {
  font-weight: 700;
  letter-spacing: -0.03em;
}
h3 {
  font-weight: 700;
  letter-spacing: -0.02em;
}
h4 {
  font-weight: 700;
  letter-spacing: -0.012em;
}
h5, h6 {
  font-weight: 670;
  letter-spacing: -0.015em;
}

.grade-a { background-color: #87cefa; }
.grade-b { background-color: #90ee90; }
.grade-c { background-color: #ffff00; }
.grade-d { background-color: #ffa07a; }
.grade-f { background-color: #cd5c5c; }
.grade-i { background-color: #d3d3d3; }
.grade-q { background-color: #8a2be2; }
