
.main {
  margin: 0 16px;
  margin-bottom: 16px;
  @media(min-width: 767px) {
    display: grid;
    grid-template-columns: 15em 1fr;
    max-width: 100em;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 16px;
    & > * {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.nav {
  @media(min-width: 767px) {
    position: sticky;
    top: 2rem;
    align-self: start;
    margin-bottom: unset;
  }
}

