.main {
  details.blog {
    margin-bottom: calc(var(--fontSize) * 1.8);
  }
  section {
    margin-bottom: calc(var(--fontSize) * 3.1);
    
    p {
      padding-right: 2em;
    }

    h2 {
      margin-bottom: calc(var(--lineHeight) * 0.65);
    }
  }

  figcaption {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    color: var(--uh-gray);
  }
}

.linkbutton {
  &:hover {
    color: #fff;
  }
}

.hearts {
  color: #ff8fbc;
}

// main section p {
//   padding-right: 2em;
// }

.visaid {
  // recreate <img> styles from new.css
  max-width: 100%;
  margin-bottom: 1rem;

  // Prevent dramatic layout changes as the SVG image loads
  // See: https://css-tricks.com/aspect-ratio-boxes/
  // overflow: hidden;
  // height: 0;
  // background-size: cover;
  
  // &.slotmachine {
  //   padding-top: calc(650 / 1100 * 100%);
  // }
  // &.wordcloud {
  //   padding-top: calc(768 / 1024 * 100%);
  // }
}

@media (prefers-color-scheme: dark) {
  .visaid {
    filter: Invert();
  }
}

$stamp-radius: calc(var(--stampBase) * 2.5);

.stamp-wrap {
  height: $stamp-radius;
}

.stamp {
  display: inline-block;
  width: $stamp-radius;
  height: $stamp-radius;
  line-height: $stamp-radius;
  border-radius: 50%;
  font-size: calc(var(--stampBase) * 0.9);
  font-weight: 700;
  background: var(--uh-grey);
  text-align: center;
}

.stamp_caption {
  display: inline-block;
  font-size: calc(var(--stampBase) * 1.1);
  font-weight: 700;
  //--margin: calc((var(--fontSize) * 2.5) - (calc(var(--fontSize) * 1.2)));
  //margin-top: calc(var(--margin) / 2);
  //margin-bottom: calc(var(--margin) / 2);
  //height: calc(var(--fontSize) * 2.5);
  margin-left: calc(var(--stampBase) * (3 / 6)); // 8px
  margin-right: calc(var(--stampBase) * (2 / 3)); // 24px
}

.teal {
  color: black;
  background: var(--uh-teal);
}
.gold {
  color: black;
  background: var(--uh-gold);
}
.blue {
  color: black;
  background: var(--uh-maya-blue);
}
.orchid {
  color: black;
  background: var(--uh-orchid);
}

.bignumber {
  font-size: calc(var(--stampBase) * 0.85);
}

