
@mixin transition {
  transition: all 0.125s ease 0s;
}

@mixin hover {
  &:hover {
    transform: scale(1.05);
  }
}

@mixin active {
  &:active {
    transform: scale(0.925);
  }
}

.hover {
  @include transition;
  @include hover;
}

.active {
  @include transition;
  @include active;
}

.hoverActive {
  @include transition;
  @include hover;
  @include active;
}
