@import "./vars.scss";

//$nprogress-color: #29d;
$nprogress-color: $uh-red;

#nprogress .bar {
  background: $nprogress-color;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px $nprogress-color, 0 0 5px $nprogress-color;
}

#nprogress .spinner-icon {
  border-top-color: $nprogress-color;
  border-left-color: $nprogress-color;
}
