body {
    //background: teal;
}

#chart_div {
    width: 900px;
    height: 500px;
}

#table_div {
    width: 990px;
    .headerRow {
        background: #78909c;
        border-top: 1px solid #cfd8dc;
        color: #212121;
        
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
    }
    .tableRow {
        background: #78909c;
        border-top: 1px solid #cfd8dc;
        color: #212121;
        
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
    }
    .oddTableRow {}
    .selectedTableRow {}
    .hoverTableRow {}
    .headerCell {
        color: rgb(255, 255, 255);

        font-family: Roboto, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: left;

        padding: 2px 5.6px;
        font-weight: 500;
        z-index: 10;
        text-overflow: ellipsis;
        border: 0;
        border-radius: 0;
    }
    .tableCell {
        background: rgba(255, 255, 255, 0.95);

        font-family: Roboto, sans-serif;
        font-size: 14px;
        text-align: left;
        vertical-align: top;
        
        overflow-x: hidden;
        overflow-y: hidden;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 7px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        border-radius: 0;
    }
    .rowNumberCell {}
}


